
body {
  padding-top: 56px;
}
/*-------------Navigation-----*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.search-box {
  position: relative;
  display: inline-flex;
}

.search-box input {
  padding-right: 70px;
}


.search-box button {
  position: absolute;
  right: 10px; 
  top: 0;
  bottom: 0;
  margin: auto;
  background: none;
  border: none;
}

.search-box button i {
  color: #000; 
}

.search-box button:hover i {
  color: #333;
}


.cart-icon {
  margin-left: 20px;
}

/*-------------Menu bar---------------------*/

.menu-bar {
  background-color:aliceblue;
  position: relative;
  z-index: 1000;
}

.menu-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
}
.menu-bar ul li i{
  margin-right: 5px;
}
.menu-bar ul li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.menu-bar ul li a:hover {
  color: #333;
}

.container {
  margin-top: 20px; 
  padding-top: 10px; 
}
